<% layout('layouts/boilerplate') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Understanding File Integrity Monitor</title>
        <style>
            body,
            h1,
            h2,
            h3,
            h4,
            p,
            ol,
            li {
                margin: 0;
                padding: 0;
            }

            body {
                background-color: #f2f2f2;
                font-family: Arial, Helvetica, sans-serif;
                color: #333;
                line-height: 1.6;
            }

            header {

                text-align: center;
                padding: 20px;
            }

            header h2 {
                font-size: 24px;
            }

            section {
                background-color: #fff;
                padding: 20px;
                margin: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
        </style>
    </head>

    <body>
        <header>
            <h2>
                Welcome to File Watch Dog: Your Trusted File Integrity Checker</h2>
        </header>
        <h3>Introduction</h3>
        <section class="mb-3">
            File Watch Dog is a powerful file integrity checker designed to safeguard your digital assets. It acts
            as a vigilant watchdog for your files, constantly monitoring them for any signs of tampering,
            corruption, or unauthorized access. With File Watch Dog, you can trust that your files remain intact and
            secure.
        </section>

        <h3>Key Features</h3>
        <section>

            <ul>
                <li>
                    <h4>Real-Time Monitoring</h4>
                    <p>File Watch Dog runs in the background, keeping a watchful eye on your files as you go about your
                        daily tasks. It instantly detects any changes or modifications, providing you with timely
                        alerts.</p>
                </li>
                <li>
                    <h4> File Integrity Verification</h4>
                    <p>Our advanced algorithms perform thorough integrity checks on your files, comparing them to their
                        original states. If any discrepancies are found, File Watch Dog notifies you immediately,
                        helping you take prompt action.</p>
                </li>
                <li>
                    <h4>User-Friendly Interface</h4>
                    <p>We understand that not everyone is a tech expert. File Watch Dog boasts an intuitive user
                        interface that makes it accessible to users of all levels. You don't need to be a computer whiz
                        to protect your files effectively.</p>
                </li>
            </ul>
        </section>
        <h3>Why Choose File Watch Dog ?</h3>
        <section>
            <ul>
                <li>
                    <h4>Efficiency</h4>
                    <p>Our real-time monitoring and instant alerts enable you to take swift action in the event of a
                        breach or file alteration, minimizing potential damage.</p>
                </li>
                <li>
                    <h4>User-Centric</h4>
                    <p>We put our users first. File Watch Dog is designed with simplicity and usability in mind, making
                        it accessible to everyone.</p>
                </li>
                <li>
                    <h4>Customization</h4>
                    <p>Tailor the system to meet your specific needs, whether you're an individual user, a small
                        business, or a large enterprise</p>
                </li>
            </ul>
        </section>
    </body>

    </html>
