<footer class="mt-auto bg-dark text-light text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Contact Us</h4>
                <p>Email: support@filewatchdog.com</p>
                <p>Phone: +1 (123) 456-7890</p>
            </div>
        </div>
    </div>
</footer>