<% layout('layouts/boilerplate') %>
    <style>
        .custom-border {
            background-color: white;
            border: 2px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        body {
            background-color: #2e3c50;
        }
    </style>
    </head>
    <%- include('../Partials/success') %>
        <%- include('../Partials/error') %>
            <div class="container">
                <h1 class="text-center mb-4 text-light">Login Form</h1>
                <div class="col-6 offset-3 custom-border">
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-outline-success text-dark mb-2">Login</button>
                    </form>
                    <p>
                        <span class="text-muted">New User -</span>
                        <a href="/register" class="text-decoration-none text-success">Register</a>
                    </p>
                    <p>
                        <a href="" class="text-decoration-none text-success">Forget Password ?</a>
                    </p>
                </div>
            </div>